<header>
		
	<div class="wrapper">

		<a href="|ctn.leftPage.url|" class="cat-box" id="cat-one" style="display: block; background-image: url('|ctn.leftImg.src(1920, 1080)|')">
			<h1>|esc ctn.leftText|</h1>
		</a>

		<a href="|ctn.rightPage.url|" class="cat-box" id="cat-two" style="display: block; background-image: url('|ctn.rightImg.src(1920, 1080)|')">
			<h1>|esc ctn.rightText|</h1>
		</a>

		<div id="signet" style="pointer-events: none;">
			<img src="|theme.url('assets/img/erupt-signet.svg')|" alt="Erupt Signet">
		</div>

	</div>

	|if ctn.fixedButton|
		<a class="button fixed" href="|ctn.fixedButtonLink|">
			<div class="border">
				<div class="background">
					<p class="gradient-text">|ctn.fixedButton|</p>
				</div>
			</div>
		</a>
	|end|

</header>