|block 'main'|

	|if ctn.dark|
	<script>document.body.classList.add('dark');</script>
	|end|

	|comp 'header'|

	<div class="container events">

		<div class="text">
			<h1>|esc ctn.textTitle|</h1>
			<div class="editor-text">
				|ctn.text|
			</div>
		</div>

		<div id="event-wrapper" class="wrapper">
			|events = newQuery().byLayouts(['event']).full()|
			|theme.ctnSort( events, 'descending', 'eventDate')|
			|for event in events|

			<div class="box |event.type|-event">
				|img = event.header.bgImage|
				|if img|
				<img src="|event.header.bgImage.src()|">
				|end|
				<a href="|event.url|">
					<div class="content">
						<h2>|if event.ctn.eventDate||event.eventDate.format('d.m.')||end| |event.title|</h2>
						<span></span>
						<p>|replace "\n", '<br>', esc( event.previewText )|</p>
					</div>
				</a>
			</div>
			|end|

		</div>

	</div>

|end|

|inc 'templ/main'|